/* Nav.css */

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
/* https://github.com/orioncactus/pretendard */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center; /* 수직 중앙 정렬 */
  width: 100%;
  background-color: #a0cbe7;
  padding: 2% 0;
  position: relative;
  box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
}

.logo {
  position: absolute;
  left: 10%;
  top: 50%; /* 수직 중앙 정렬 */
  transform: translateY(-50%); /* 수직 중앙 정렬 */
  width: 50px;
  height: 50px;
}

.navbarMenu {
  color: white;
  margin: 0 8px; /* 좌우 여백 */
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
